body{
    font-family: "montserrat-black";
}

/* title */

#title{
    background-color: #ff4c68;
    color: aliceblue;
}
.container-fluid{
    padding: 1% 15%;
}
.download-button {
    margin: 5% 3% 5% 0%;
}
h1 {
    font-family: "montserrat-black";
    font-size: 5rem;
    line-height: 1.5;
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 20%;
    top: 10%;
}


/* navbar*/

.navbar {
    padding-bottom: 4rem;
}
.navbar-brand {
    font-family: "ubuntu";
    font-size: 3rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2em;
    font-family: "montserrat-light";
}

/* features */

#features{
    text-align: center;
    font-family: "montserrat-bold";
    background-color: #fff;
    font-size: 1.5em;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
.features-des{
    color: #8f8f8f;
}
.icon {
    color: #ef8172;
    margin: 1rem;
}
.icon:hover {
    color: #ff4c68;
}

/* testiomonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    
}
h2 {
    font-size: 3rem;
    font-family: "montserrat-bold";
    line-height: 1.5;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin:  20px;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ef8172;  
    text-align: center;
    padding-bottom: 3em;
}
.press-logo {
    padding: 3%;
    width: 15%;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1000px){

    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }

}

/*  call to action  */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 3% 10% 0% 10%;
    font-family: "montserrat-black";
}
.download-ctn {
    margin: 2%;
}
.cta-text {
    font-size: 3rem;
    padding: 0% 30%;
}

/*  footer */
#footer {
    text-align: center;
    font-size: 2rem;
}
.brands {
    padding: 0.5%;
}